body {
  background-image: url(image1.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer {
  background-color: white;
  position: relative;
  height: fit-content;
  margin-top: 100px;
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: left;
}
.socialIcons a {
  text-decoration: none;
  padding: 0px;
  background-color: white;
  margin: 0;
  border: 50%;
}

.socialIcons a i {
  font-size: small;
  color: black;
  opacity: 0.9;
}
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 0;
}
.footerNav ul a {
  color: black;
}
nav {
  margin: 0;
  position: absolute;
}
.navbar ul {
  list-style: none;
  padding: 0;
}
